html {
    background-color: #f7fcff;
    font-family: "Open Sans";
}

.container{
    max-width: 574px;
    max-height: 574px;
    margin: 0 auto;
}

.buttons{
    position: fixed;
    top: 100px;
    left: 50px;
    width: 200px;
}

.btn-size{
    width: 100%;
}

table {
    margin: 1em auto;
    font-size: 20px;
    border: 1px solid #0d47a1;
    border-collapse: collapse;
}

td {
    height: 60px;
    width: 60px;
    border: 1px solid #0d47a1;
    text-align: center;
}

td:first-child {
    border-left: solid #0d47a1;
}

td:nth-child(3n) {
    border-right: solid #0d47a1;
}

tr:first-child {
    border-top: solid #0d47a1;
}

tr:nth-child(3n) td {
    border-bottom: solid #0d47a1;
}

@media screen and (max-width: 1100px) {
    .container{
        max-width: 100%;
    }
    .brand-logo{
        width: 100%;
    }
    .buttons {
        position: initial;
        width: auto;
        padding: 3%;
    }
    .buttons ul {
        display: flex;
        flex-wrap: wrap;
    }
    .buttons li {
        flex-grow: 1;
        padding: 2% !important;
    }
    .buttons li.collection-header {
        width: 100%;
        flex-grow: 1;
    }
    td {
        padding: 1.5% 0;
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    td {
        padding: 0.3% 0;
        height: auto;
    }
}